@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,700&display=swap");

body {
  margin-left: 2%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(230, 220, 165);
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9maTWxby8pygNe2xozRNX80y6EjRM8FkPNBVEnVtm&s); */
}

main {
  text-align: justify;
  margin-left: 20%;
  margin-right: 25%;
}

header {
  z-index: 100;
  margin-left: 20%;
  margin-right: 25%;
}

.fast-travel li {
  margin-top: 12px;
}

aside {
  background: rgba(240, 240, 240, 0.5);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 25px;
  padding: 15px;
  width: 15%;
  position: fixed;
  right: 10px;
  top: 15%;
  z-index: -1;
}

footer {
  margin-left: 20%;
  margin-right: 25%;
  margin-bottom: 3%;
  position: relative;
  top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgb(190, 190, 190);
}

.ad-block {
  margin: 10px 10px 40px 10px;
  text-align: center;
}

.ad-block img {
  width: 100%;
}

a:visited {
  color: rgba(96, 100, 100, 0.816);
}

a:hover {
  color: rgba(0, 0, 0, 0.3);
}

a:active {
  color: rgb(5, 5, 5);
}

a {
  color: rgba(49, 53, 53, 0.816);
}

h3 + p {
  font-style: italic;
}

h1 {
  font-family: "PT+Sans" sans-serif;
  font-style: italic;
}

.fast-travel {
  border: 1px solid rgb(190, 190, 190);
  background: rgba(240, 240, 240, 0.5);
  border-radius: 25px;
  width: 200px;
}

.fast-travel ul {
  list-style: none;
  padding-left: 20px;
}

.float-left > img {
  float: left;
  width: 50% !important;
  margin-right: 1rem !important;
}

.picture > img {
  width: 70%;
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.survey {
  font-size: smaller;
  position: fixed;
  top: 15%;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 1%;
  left: 10px;
  width: 17%;
  border-radius: 25px;
  float: left;
  z-index: -1;
  border: 1px solid rgb(190, 190, 190);
  background: rgba(240, 240, 240, 0.5);
}

.comment {
  width: 55%;
  margin: 3% 25% 10px 20%;
}

.comment textarea {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  padding: 2%;
  resize: none;
  display: block;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
}

input:not([type="radio"], [type="file"], [type="checkbox"]) {
  background-color: rgba(255, 255, 255, 0.5);
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 4px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: 0;
  background-color: rgba(220, 220, 220, 0.652);
}

::selection {
  background-color: rgb(229, 227, 227);
}

fieldset {
  border-radius: 25px;
  border: 1px solid rgb(190, 190, 190);
}

.comment button {
  height: 3rem;
  width: 48.3%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
}

select {
  width: 98%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 4px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

button:hover,
input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

button:active,
input[type="submit"]:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.comment textarea:focus,
select:focus {
  outline: 0;
}

.comment-nav li {
  display: inline;
}

.comment-nav ul {
  margin-top: 0.5%;
  padding-left: 3%;
  list-style: none;
}

iframe {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72.4%;
}

.travel-video {
  display: block;
  position: relative;
  line-height: 0;
}

.travel-video:before {
  transition: background-color 1.5s;
  border-radius: 15px;
  content: "";
  background: rgba(0, 0, 0, 0);
}

.travel-video:hover:before {
  transition: all 0.5s;
  content: "";
  display: block;
  width: 40%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
  background-color: rgba(234, 229, 202);
  border: 1px solid rgb(190, 190, 190);
}

.text-on-vid {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  transition: color 0.25s;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10%;
  left: 12%;
  margin-left: 10px;
  font-size: medium;
}

.text-on-vid:hover {
  transition: all 0.4s;
  color: rgba(49, 53, 53, 0.816);
}

.gallery {
  display: block;
  column-count: 3;
}

.group {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.group img {
  border: 1px solid black;
  display: block;
  max-width: 100%;
  margin-top: 10%;
  border-radius: 10px;
}

.showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.gradient {
  transition: transform 0.5s;
  display: block;
  position: relative;
  line-height: 0;
}

.gradient:hover {
  transition: transform 0.5s;
  transform: translate(-1rem, -1rem);
}

.gradient:before {
  border-radius: 10px;
  content: "";
  opacity: 0;
}

.gradient:hover:before {
  transition: opacity 0.5s;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgb(255, 81, 81),
    rgb(39, 57, 253),
    rgb(255, 81, 81)
  );
  opacity: 0.8;
}

.gradient img {
  border-radius: 10px;
}

.text-on-img {
  transition: color 0.25s;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 3px;
  margin-left: 10px;
  font-size: small;
}

.text-on-img:hover {
  transition: color 0.5s;
  color: rgba(0, 0, 0, 1);
}

.first-pict {
  margin: 0 !important;
}

header {
  margin-bottom: 10px;
  position: sticky;
  top: 0.5%;
}

#menu__toggle {
  opacity: 0;
}

.notification {
  transition: height 1s, width 0.85s, border-radius 1.5s;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: x-large;
  background-color: rgba(234, 229, 202);
  border: 1px solid rgb(190, 190, 190);
  position: fixed;
  top: 0.5%;
  right: 1%;
}

.notification:hover {
  transition: height 1s, width 0.85s, border-radius 0.5s;
  border-radius: 25px;
  height: 105px;
  width: 245px;
}

.notification i {
  transition: font-size 1.2s, margin 0.5s;
  display: block;
  color: rgba(49, 53, 53, 0.816);
  margin-top: 1rem;
  margin-left: 1rem;
}

.notification:hover i {
  transition: font-size 1.2s, margin 0.5s;
  font-size: medium;
  margin-top: 0.8rem;
  margin-left: 1.5rem;
}

.notifications-content {
  transition: color 0.2s ease-out;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 3px;
  color: rgb(0, 0, 0, 0);
  overflow: hidden;
  list-style: none;
}

.notif-block {
  margin-top: 4px;
  height: 4rem;
  overflow-y: scroll;
}

.notification:hover .notifications-content {
  overflow-y: scroll;
  transition: color 1.5s ease-in 0.3s;
  color: rgb(0, 0, 0, 1);
}

.notif-content {
  overflow-x: hidden;
  padding: 5px;
  font-size: small;
}

.notif-content:hover {
  border-radius: 25px;
  text-decoration: underline dotted;
  background-color: rgba(220, 220, 220, 0.652);
}

.indicator {
  transition: transform 0.5s;
  position: fixed;
  font-size: x-small;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 0.9%;
  right: 1.1%;
  text-align: center;
  color: white;
  background-color: rgb(210, 31, 31);
}

.notification:hover .indicator {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.rate-gallery {
  margin-top: 5%;
}

.rate-gallery ul {
  margin-left: 30%;
  list-style: none;
}

.rate-gallery li {
  display: inline-block;
  margin-top: 1%;
  width: 70%;
  height: 3rem;
}

.rate-gallery button {
  width: 70%;
  height: 3rem;
  border-radius: 10px;
  border: none;
}

.top-button {
  transition: all 0.3s;
}

button.top-button {
  background: white;
  border: 1px solid rgb(26, 195, 0);
}

.top-button:hover {
  transition: all 0.3s;
  box-shadow: 0 0 40px 40px rgb(26, 195, 0) inset;
}

.good-button {
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background-position 0.3s ease-in-out;
}

button.good-button {
  background-color: white;
  border: 1px solid #f1c40f;
}

.good-button:hover {
  background-position: 0;
}

.ok-button {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.ok-button span {
  transition: all 0.3s;
}

button.ok-button {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgb(255, 153, 0);
}

button.ok-button:hover {
  border: 1px solid rgb(255, 98, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.ok-button::before {
  transition: all 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.ok-button:hover span {
  letter-spacing: 2px;
}

.ok-button:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.bad-button {
  position: relative;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
}

.bad-button:hover {
  animation: move-colors 12s infinite alternate;
}

button.bad-button {
  border: 1px solid rgb(255, 0, 0);
}

@keyframes move-colors {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}

.glassmorphism-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 28%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-top: 8%;
  margin-bottom: 8%;
  z-index: 1;
}

.card::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.card::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transform: skewX(15deg);
  transition: 0.5s;
  /* filter: blur(15px); */
}

.card:hover:before,
.card:hover:after {
  transform: skewX(0deg) scaleX(1.4) scaleY(1.1);
}

.card:before,
.card:after {
  background: linear-gradient(315deg, #ffffff, #383636);
}

.orange.card:before,
.orange.card:after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.blue.card:before,
.blue.card:after {
  background: linear-gradient(315deg, #287cfb, #ff007b);
}

.green.card:before,
.green.card:after {
  background: linear-gradient(315deg, #2eff3c, #02dad6);
}

.card span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.card span::before {
  transition: top 1.5s ease, left 1.5s ease, opacity 0.5s;
  content: "";
  position: absolute;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  top: -40px;
  left: 40px;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.card:hover span::before {
  top: -5px;
  left: 58px;
  opacity: 1;
}

.card span::after {
  transition: bottom 1.5s ease, right 1.5s ease, opacity 0.5s;
  content: "";
  position: absolute;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.card:hover span::after {
  bottom: -5px;
  right: 58px;
  opacity: 1;
}

.card .card-content {
  position: relative;
  width: 80%;
  height: 70%;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 20%;
  padding-top: 5%;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  transform: 0.5s;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.card-content p {
  font-size: small;
}

.card .card-content h4 {
  font-size: 15px;
  color: #fff;
}

.social-networks {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  justify-content: space-between;
}

.network {
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3) inset;
  z-index: 10;
}

.network::before {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  background-image: linear-gradient(
    90deg,
    #ffbb00cd,
    #ff0059c7 30%,
    transparent 28%
  );
  background-position: 100%;
  background-size: 400%;
  transform: rotate(90deg);
  transition: background 0.7s ease;
}

.network:hover::before {
  background-position: 0;
}

.network img {
  width: 25px;
  z-index: 5;
}

.blurring-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
}

.blurring-cards .blur-card {
  position: relative;
  width: 28%;
  height: 340px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 40px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.blurring-cards:hover .blur-card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.blurring-cards .blur-card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

.blurring-cards .blur-card .circle {
  position: relative;
  top: -20%;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center -5px);
  text-align: left;
}

.blurring-cards .blur-card .circle h2 {
  color: #fff;
  font-size: 15px;
  padding: 35px 25px;
}

.blurring-cards .blur-card .content {
  position: absolute;
  bottom: 10px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}

.blurring-cards .blur-card .content p {
  color: #666;
}

.blurring-cards .blur-card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  margin-left: 13%;
  text-decoration: none;
}

.blurring-cards .blur-card:nth-child(1) .circle,
.blurring-cards .blur-card:nth-child(1) .content a {
  background: #ffaf00;
}

.blurring-cards .blur-card:nth-child(2) .circle,
.blurring-cards .blur-card:nth-child(2) .content a {
  background: #da2268;
}

.blurring-cards .blur-card:nth-child(3) .circle,
.blurring-cards .blur-card:nth-child(3) .content a {
  background: #bb02ff;
}

.flashing-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
}

.flashing-cards .flashing-card {
  position: relative;
  width: 28%;
  height: 340px;
  background: linear-gradient(90deg, rgb(49, 30, 75) 50%, rgb(13, 0, 42) 50%);
  overflow: hidden;
  padding-top: 40px;
  border: 3px solid black;
  transition: 0.5s;
}

.flashing-cards:hover .flashing-card {
  filter: grayscale(30%) contrast(70%);
  transform: scale(0.98);
}

.flashing-cards .flashing-card:hover {
  filter: blur(0px);
  transform: scale(1.03);
  opacity: 1;
}

.flashing-cards .flashing-card h2 {
  top: 50px;
  right: 20px;
  font-size: 55px;
  color: rgb(27, 0, 81);
  z-index: 1;
  position: absolute;
  transition: 0.5s;
}

.flashing-cards .flashing-card:hover h2 {
  top: -35px;
  color: rgba(17, 46, 132, 0.998);
}

.flashing-cards .flashing-card h3 {
  font-size: 15px;
}

.flashing-cards .flashing-card p {
  font-style: normal;
  font-size: 14px;
}

.flashing-card .flashing-content {
  position: absolute;
  top: 60px;
  text-align: left;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 15;
}

.flashing-cards .flashing-card .flashing-content a {
  position: relative;
  font-size: 12px;
  display: inline-block;
  padding: 8px 10px;
  background: white;
  margin-left: 26%;
  color: black;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.flashing-card svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  z-index: 300;
  stroke: rgb(87, 129, 255);
  stroke-dasharray: 450 1440;
  stroke-dashoffset: 450;
  transition: 1s ease-in-out;
}

.flashing-card:hover svg {
  stroke-dashoffset: -1440;
}

.login-box {
  margin-top: 13%;
  margin-bottom: 13%;
  position: relative;
  display: flex;
  justify-content: center;
}

.login-box .floating-square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
}

.login-box .floating-square:nth-child(1) {
  top: -15%;
  right: 150px;
  width: 100px;
  height: 100px;
}

.login-box .floating-square:nth-child(2) {
  top: 30%;
  left: 80px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.login-box .floating-square:nth-child(3) {
  bottom: 50px;
  right: 17%;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.login-box .floating-square:nth-child(4) {
  bottom: -10%;
  left: 40%;
  width: 50px;
  height: 50px;
}

.login-box .floating-square:nth-child(5) {
  top: -15%;
  left: 40%;
  width: 60px;
  height: 60px;
}

.login-container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 {
  position: relative;
  color: rgba(56, 59, 59, 0.816);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 12rem;
  height: 4px;
  background: rgba(56, 59, 59, 0.816);
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form .input-box input {
  width: 90%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .input-box input::placeholder {
  color: rgb(167, 167, 167);
}

.form .input-box input[type="submit"] {
  background: rgb(249, 240, 225);
  color: #666;
  width: 7rem;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.forget {
  margin-top: 5px;
  color: rgba(96, 100, 100, 0.816);
}

.forget a {
  text-decoration: none;
  color: rgba(56, 59, 59, 0.816);
  font-weight: 600;
}

/* 
Для больших экранов 
*/
@media (min-width: 1001px) {
  nav {
    display: block;
    width: 100%;
  }

  #menu__toggle {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu {
    border-radius: 25px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgba(234, 229, 202, 0.95);
  }

  .menu__box {
    display: inline;
    list-style: none;
    text-align: center;
  }

  .menu__box li {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 1.5%;
    display: inline-block;
    width: 100px;
  }

  .menu img {
    display: inline;
    width: 14%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 2%;
  }

  .menu__item:hover {
    border-radius: 25px;
    padding: 5px 10px;
    text-decoration: underline dotted;
    background-color: rgba(220, 220, 220, 0.652);
  }
}

/* 
Для планшетов экранов 
*/
@media (min-width: 769px) and (max-width: 1000px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }

  .menu img {
    position: fixed;
    left: 70px;
    top: 15px;
    width: 75px;
    padding-top: 25px;
    margin-left: 0;
  }

  .first-pict {
    margin-top: 10% !important;
  }

  .gallery {
    display: block;
    column-count: 1;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 100;
    left: -20%;
    width: 150vh;
    display: block;
    height: 90px;
    background-color: rgba(234, 229, 202);
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  .menu__btn > span {
    margin-top: 50px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    background-color: rgba(234, 229, 202);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(49, 53, 53, 0.816);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }

  body {
    margin-top: 25%;
    margin-left: 2%;
    font-size: smaller;
  }

  main {
    text-align: justify;
    margin-left: 2%;
    margin-right: 1%;
  }

  .picture img,
  .float-left img {
    width: 100% !important;
    border-radius: 15px;
  }

  .survey {
    visibility: hidden;
  }

  aside {
    border-radius: 0;
    padding: 15px;
    width: 95%;
    height: 15%;
    position: fixed;
    right: 0;
    top: 83%;
    border: none;
    border-top: 1px solid rgb(190, 190, 190);
    background-color: rgba(234, 229, 202);
    z-index: 25;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  aside .ad-block {
    width: 28%;
    height: 15%;
    margin-top: 0;
    font-size: x-small;
  }

  .ad-block img {
    width: 95%;
  }

  footer {
    z-index: -1;
    margin: 0;
    margin-bottom: 47%;
  }

  .comment {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .comment li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .comment li button {
    margin-top: 1%;
    width: 98%;
  }

  .notification {
    top: 20px;
    margin-right: 10px;
    transition: none;
    border: none;
  }

  .notification:hover {
    top: 20px;
    border: 1px solid rgb(190, 190, 190);
    transition: none;
    border-radius: 25px;
    height: 12rem;
    width: 13rem;
  }

  .notification i {
    margin-right: 10px;
    transition: none;
    font-size: large;
    position: fixed;
    right: 1.3rem;
    top: 30px;
  }

  .notification:hover i {
    margin-right: 10px;
    transition: none;
    font-size: large;
    position: fixed;
    right: 1.3rem;
    top: 33px;
  }

  .notifications-content {
    margin-top: 4px;
    visibility: hidden;
    color: rgb(0, 0, 0, 1);
  }

  .notif-block {
    height: 11.3rem;
    width: 12rem;
  }

  .notification:hover .notifications-content {
    transition: none;
    visibility: visible;
  }

  .indicator {
    margin-right: 10px;
    top: 40px;
    right: 4%;
  }

  .notification:hover .indicator {
    top: 40px;
    transform: none;
  }

  .showcase {
    flex-flow: column wrap;
  }

  .gradient {
    margin-top: 6%;
  }

  .gradient img {
    border-radius: 10px;
  }

  .gradient img {
    width: 320px;
  }

  .text-on-img {
    font-size: medium;
  }

  iframe {
    height: 205px !important;
    width: 100%;
  }

  .travel-video:before {
    transition: background-color 1.5s;
    border-radius: 15px;
    content: "";
    background: rgba(0, 0, 0, 0);
  }

  .travel-video:hover:before {
    width: 86%;
    height: 130%;
    top: -6%;
    left: 0;
  }

  .text-on-vid {
    top: -3%;
    left: 4%;
  }

  .rate-gallery ul {
    margin-left: 5%;
  }

  .rate-gallery button {
    width: 120%;
  }

  .card {
    width: 90%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    z-index: 1;
  }

  .card::before {
    top: -5%;
    left: 25%;
    width: 40%;
    height: 110%;
  }

  .card::after {
    top: -5%;
    left: 25%;
    width: 40%;
    height: 110%;
  }

  .glassmorphism-cards {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .blurring-cards {
    flex-flow: column wrap;
  }

  .blurring-cards .blur-card {
    width: 90%;
    margin-top: 8%;
  }

  .flashing-cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .flashing-cards .flashing-card {
    width: 59.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .login-box {
    margin-top: 45%;
    margin-bottom: 22%;
  }

  .login-box .floating-square:nth-child(1) {
    top: -9%;
    right: 0;
  }

  .login-box .floating-square:nth-child(2) {
    top: 30%;
    left: -10px;
    width: 55px;
    height: 55px;
  }

  .login-box .floating-square:nth-child(3) {
    bottom: -30px;
    right: 0;
  }

  .login-box .floating-square:nth-child(4) {
    bottom: -12%;
    left: 40%;
  }

  .login-box .floating-square:nth-child(5) {
    top: -8%;
    left: 40%;
  }

  .login-container {
    width: 300px;
    min-height: 300px;
  }

  .form {
    text-align: left;
  }
}

/* 
Для мобильных
*/
@media (min-width: 320px) and (max-width: 768px) {
}
